body {
	padding: 0;
	margin: 0;
}

article {
	padding: 5% 40% 5% 12%;
}

h1 {
	font-style: italic;
	Font-Family: 'Playfair Display', Serif;
	Font-Size: 64px;
}

p {
	Font-Family: 'Source Sans Pro', Sans-Serif;
	Font-Size: 18px;
	line-height: 1.6;
}